/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merienda:wght@300..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General styles */
    color: #254328;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #0C5914;
    color: #ffffff;
    padding: 0 0.75rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color:#ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: smaller;
} 

h1 {
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
    font-size: 180%;
    color: #ffffff;
    letter-spacing: 3px;
    
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #ffffff;
}

/* Nav bar styles*/
nav {
    position: absolute;
    background-color: #0C5914;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
    padding: 0 0.75em;
    left: 0;
    display: none;
    /* Push nav bar down below header */
    margin-top: 34px;
    
}

#toggle {
    display: none;
}

#toggle:checked~nav {
    display:block;
}

.toggle-label {
    font-size: 170%;
}

/* Main content */
main {
    background-color: #F0EAD6;
    /* Make main take up any surplus space to push footer down*/
    flex: 1 0 auto;
    /*Push main content down below header*/
    margin-top: 35px;
}

/* Benefits section*/
#benefits {
    background-color:#F0EAD6;
    padding: 0 0;
}
#benefits h2 {
    font-size: 170%;
    
}

#benefits h2, #benefits h3 {
    font-family: 'merienda', cursive;
    text-align: center;
}

#benefits-points {
    background-color: #0C5914;
    color: #ffffff;
    margin: 10% 10%;
    padding: 10% 10%;
    border-radius: 15px 65px;
    box-shadow:  2px 2px #024e28;
}
/*Brain food gallery section */

#brainfood img {
    width: 100%;
    line-height: 1em;
}

#brainfood {
    line-height: 0;
}

/* Newsletter and submitted enquiry styles */
#successful-signup, #successful-enquiry {
    font-family: 'Merienda', cursive;
    font-size: 100%;
    text-align: center;
    padding-top: 40%;
}

/* Footer */
footer {
    background-color: #0C5914;
    color: #ffffff;
}

#socialmedia-icons {
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-evenly;
    font-size: 200%;
    list-style-type: none;
}

#socialmedia-icons i {
    color: #ffffff;
}

/* Media query: landscape phones(576px and up)*/
@media screen and (min-width: 576px) {
    /* Brainfood gallery */
    #brainfood {
        column-count: 2;
        column-gap: 0;
    }


}

/* Media query: tablets (768px and up)*/
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        position: relative;
        box-shadow: none;
        display: block;
        padding-right: 1rem;
        width: fit-content;
    }

    #menu {
        display: flex;
        align-items: baseline;

    }

    #menu > li {
        padding-right: 20px;
    }

    .toggle-label > i {
        display: none;
    }

    #logo {
        font-size: 400%;
    }

    #menu a:hover {
        border-top: 2px solid #ffffff;
    }

    /* Main Content*/
    main {
        /* Push main content down below header*/
        margin-top: 78px;
    }

    /* Benefits section */
    #benefits-points {
        padding: 5% 5%;
    }

    /* Newsletter and submitted enquiry styles*/
    #successful-signup, #successful-enquiry {
        font-size: 200%;
        padding-top: 20%;
        padding-left: 50px;
        padding-right: 50px;
    
}
    
}

/* Media query: large devices (laptops and desktops 992px and up)*/
@media screen and (min-width: 992px) {
   
    /* Newsletter and submitted enquiry styles*/
    #successful-signup, #successful-enquiry {
        font-size: 300%;
        padding-top: 10%;
        padding-left: 200px;
        padding-right: 200px
}

    /* Benefits section flex styles */
    #benefits-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #benefits-points {
        margin: 10% 3%;
    }

    #benefits h2 {
        font-size: 300%;
    }

   /* Brainfood gallery */
   #brainfood {
    column-count: 3;
    column-gap: 0;
    }

    #brainfood img {
        height: 280px;
    }
}

/* Media query: large desktop (1200px and up)*/
@media screen and (min-width: 1200PX) {
    #brainfood {
        display:flex;
        width: 100%;
    }

    #brainfood img {
        overflow-x: hidden;
    }
}