/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General styles */
    color: #254328;
}
/* Header */
header {
    background-color: #050;
    color: #ffffff;
}

/* Main content */
main {
    background-color: orange;
    /* Make main take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #050;
    color: #ffffff;
    
}