/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merienda:wght@300..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General styles */
    color: #254328;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #0C5914;
    color: #ffffff;
    padding: 0 0.75rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: smaller;
}

h1 {
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
    font-size: 180%;
    color: #ffffff;
    letter-spacing: 3px;

}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #ffffff;
}

/* Nav bar styles*/
nav {
    position: absolute;
    background-color: #0C5914;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
    padding: 0 0.75em;
    left: 0;
    display: none;
    /* Push nav bar down below header */
    margin-top: 34px;

}

#toggle {
    display: none;
}

#toggle:checked~nav {
    display: block;
}

.toggle-label {
    font-size: 170%;
}

/* Main content */
main {
    background-color: #F0EAD6;
    /* Make main take up any surplus space to push footer down*/
    flex: 1 0 auto;
    /*Push main content down below header*/
    margin-top: 35px;
}

/* Hero image section */
#hero-image {
    background: url("../images/womancooking.webp") no-repeat center center/cover;
    position: relative;
    text-align: center;
    height: 600px;
    width: 100%;
}

#hero-image h2 {
    font-size: 140%;
    font-family: 'Lato' , sans-serif;
}

#hero-text {
    position: absolute;
    bottom: 16px;
    right: 8px;
    background-color: rgba(12, 89, 20, 0.5);
    border-radius: 65px 15px;
    color: #F0EAD6;
    padding: 5% 5%;
    margin-left: 50%;
}

#hero-text button {
    transition-duration: 0.4s;
    background-color: #F0EAD6;
    border: 2px solid #0C5914;
    color: #0C5914;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
    
}

#hero-text > button:hover {
    background-color: #0C5914;
    color:#ffffff;
}

/* Benefits section*/
#benefits {
    background-color: #F0EAD6;
    padding: 15px 0;
}

#benefits h2 {
    font-size: 200%;
}

#benefits h2,
#benefits h3 {
    font-family: 'merienda', cursive;
    text-align: center;
}

#benefits-points {
    background-color: #0C5914;
    color: #ffffff;
    margin: 10% 10%;
    padding: 10% 10%;
    border-radius: 15px 65px;
    box-shadow: 2px 2px 15px #024e28;
}

/*Brain food gallery section */

#brainfood img {
    width: 100%;
    line-height: 1em;
}

#brainfood {
    line-height: 0;
}

/* Recipes page */
.recipecard {
    background-color: rgb(193, 231, 212);
    color: black;
    margin: auto;
    border: 2px solid #0C5914; 
    overflow: hidden;
    max-width: 250px;
}

.recipecard-img {
    max-width: 100%;
    max-height: 100%;
}

.recipecard-content {
    padding: 2%;
}

.recipecard-content h2 {
    text-align: center;
}

.recipecard-content hr {
        border-top: 1px solid #0C5914;
        margin: 5px 0;
}

.ingredient-list {
    padding: 0  5% 0 10%;
}

.nutritional-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.nutritional-info {
    background-color: lightcoral;
    padding: 3% 3%;
}

/* Newsletter and submitted enquiry styles */
#successful-signup,
#successful-enquiry {
    font-family: 'Merienda', cursive;
    font-size: 100%;
    text-align: center;
    padding-top: 40%;
}

/* Footer */
footer {
    background-color: #0C5914;
    color: #ffffff;
}

#socialmedia-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 200%;
    list-style-type: none;
}

#socialmedia-icons i {
    color: #ffffff;
}

/* Media query: landscape phones(576px and up)*/
@media screen and (min-width: 576px) {
    /* Hero image section */
    #hero-image h2 {
        font-size: 180%;
    }

    /* Benefits section */
    #benefits h2 {
        font-size: 300%;
    }

    /* Brainfood gallery */
    #brainfood {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets (768px and up)*/
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        position: relative;
        box-shadow: none;
        display: block;
        padding-right: 1rem;
        width: fit-content;
    }

    #menu {
        display: flex;
        align-items: baseline;

    }

    #menu>li {
        padding-right: 20px;
    }

    .toggle-label>i {
        display: none;
    }

    #logo {
        font-size: 400%;
    }

    #menu a:hover {
        border-top: 2px solid #ffffff;
    }

    /* Main Content*/
    main {
        /* Push main content down below header*/
        margin-top: 78px;
    }

    /* Hero image section */
    #hero-image {
        background: url("../images/cookinglarger.webp") no-repeat center center/cover;
        height: 800px;
        width: 100%;
    }

    #hero-image h2 {
        font-size: 200%;
    }

    /* Benefits section */
    #benefits h2 {
        font-size: 400%;
    }

    #benefits-points {
        padding: 5% 5%;
    }

    /* Newsletter and submitted enquiry styles*/
    #successful-signup,
    #successful-enquiry {
        font-size: 200%;
        padding-top: 20%;
        padding-left: 50px;
        padding-right: 50px;

    }

}

/* Media query: large devices (laptops and desktops 992px and up)*/
@media screen and (min-width: 992px) {

    /* Newsletter and submitted enquiry styles*/
    #successful-signup,
    #successful-enquiry {
        font-size: 300%;
        padding-top: 10%;
        padding-left: 200px;
        padding-right: 200px
    }

    /* Hero image section */
    #hero-image {
        background: url("../images/friendscooking.webp") no-repeat center center/cover;
        height: 700px;
        width: 100%;
    }

    #hero-image h2 {
        font-size: 300%;
    }

    /* Benefits section flex styles */
    #benefits-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #benefits-points {
        margin: 10% 3%;
    }

    #benefits h2 {
        font-size: 300%;
    }

    /* Brainfood gallery */
    #brainfood {
        column-count: 3;
        column-gap: 0;
    }

    #brainfood img {
        height: 280px;
    }
}

/* Media query: large desktop (1200px and up)*/
@media screen and (min-width: 1200PX) {
    /* Brainfood gallery*/
    #brainfood {
        display: flex;
        width: 100%;
    }

    #brainfood img {
        overflow-x: hidden;
    }

    /* Recipes page */
    .recipecard {
        display:flex;
        flex-direction: row;
        max-width: fit-content;
        max-height: fit-content;
    }

    .ingmeth-container {
        display: flex;
        justify-content: space-between;
    }
}